<!DOCTYPE html>
<html>
	<head>
		<title>Scheduling App</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/app.css') }}">
	</head>
    <body>
        <h1>Search Course Catalog</h1>
        <form action="http://127.0.0.1:5000/inputNewClass">
            <p>
                <input type="submit" value="Add Class">
            </p>
        </form>
        <form action="http://127.0.0.1:5000/inputOldClass">
            <p>
                <input type="submit" value="Remove Class">
            </p>
        </form>
        <form action="http://127.0.0.1:5000/displayClasses">
            <input type="submit" value="View All Classes">
            </p>
        </form>
    </body>
</html>