<!DOCTYPE html>
<html>
<head>
    <title>Scheduling Web App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="w3-top">
        <div class="w3-bar w3-amber w3-card w3-left-align w3-large">
            <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
            <a href="/inputNewClass" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Add Class</a>
            <a href="/inputOldClass" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Remove Class</a>
            <a href="/displayClasses" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">View All Classes</a>
        </div>
    </div>
    <h1 class="w3-container w3-amber w3-center" style="padding:50px">Input Class To Be Removed</h1>
    <form class="w3-center" action="http://127.0.0.1:5000/removeClass">
        <div>Dept</div>
        <div><input type="text" id="dept" name="dept" /></div>

        <div>Class Number</div>
        <div><input type="text" id="number" name="number" /></div>

        <div>Class Section</div>
        <div><input type="text" id="section" name="section" /></div>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
</body>
</html>